.holder {
  width: 500px;
  height: 500px;
}

.dropzone {
  background-color: white;
  border-style: dotted;
  border-width: 1px;
  border-color: #ccc;
  padding: 10px;
  width: 100px;
  height: 200px;
  border: dashed 4px transparent;
  float: left;
  font-family: Helvetica, sans-serif;
  color: white;
  text-align: center;
  text-transform: lowercase;
}

.draggable {
  width: 100px;
  height: 200px;
  float: left;
  background-color: grey;
  font-family: Helvetica, sans-serif;
  color: white;
  padding:10px;
  margin: 10px;
  border-radius: 10px;
  position: absolute;
}

.drop-active {
  border-color: #aaa;
  color: #ccc;
  text-transform: uppercase;
  transition: 1s;
}

.drop-target {
  background-color: #F8F8F8;
  color: #000;
  border-color: #000;
  border-style: solid;
  text-transform: uppercase;
  transition: 0.5s;
}

.title {

}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  width: 128px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.button1:hover {
  background-color: blue;
  color: white;
}

.port {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  background: #000;
  border: 3px solid #fff;
  border-radius: 50%;
  position: relative;
  display: block;
  behavior: url(PIE.htc);
}

.in {
  display: flex;
  flex-direction: column;
  float: left;
  margin-top: 30px;
  position: absolute;
}

.out {
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: 30px;
}

.port .tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: rgba(0, 0, 0);
  color: rgba(255, 255, 255);
  opacity: 0.5;
  text-align: center;
  padding: 5px 15px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1000;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  transition: all 1000ms;
}

#patchCords {
  position:absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  stroke-linecap: round;
  z-index:10;
}
